@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.App ul li {
    display: inline;
    list-style-type: none;
    margin: 5px;
    
  }
  
  .toolbar{
    width: 90%;
    margin: auto auto;
    border: none;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(#474a4c, #595c5f);
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .link{
    text-decoration: none;
    color:aliceblue;
    font-weight: bold;
    font-size: x-large;
    margin-right: 30px;
  }